{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">


  <h2>{{title}}</h2>

  <div id="timer" data-refresh-url="/get_timer" data-refresh-timer="true">
      {% include "timer.html" %}
  </div>


  <div id="todo-logs" data-refresh-url="/todo_logs_for_day/{{date}}">
    {% include "todo_logs.html" %}
    
  </div>
  


  <h3>New Todo Log Entry (for this date only): </h3>
  <form action="/new_todo_log" data-refresh='["todo-logs", "stats"]'>
    {% include "new_todo_log_form.html" %}
  </form>
  
  <div id="stats" data-refresh-url="/stats_for_day/{{date}}">
    {% include "stats.html" %}
  </div>
</div>

<style>
  @media (min-width: 992px) {
    .submit-btn-custom-width {
      width: 14%;
    }
    .tag-custom-width {
      width: 90%;
    }
    .duration-custom-width {
      width: 90%;
    }
    .col-md-0 {
      display: none;
    }

    .xs-offset-1 {
      margin-left: 0% !important;
    }
  }
  
  .tag-custom-width {
    width: 100%;
  }
  .duration-custom-width {
    width: 100%;
  }

  .xs-offset-1 {
    margin-left: 8.33333333%;
  }
  
</style>  

  <script type="text/javascript">
    
    (function() {
      let timerInterval = undefined;
      
      
	const get_hr_min = function(seconds) {

	    // say seconds is 365

	    // mins = 60
	    
	    const mins = seconds/60;
	    const rem_secs = seconds%60
	    
	    const hours = mins/60;
	    const rem_mins = mins%60;

	    return [Math.trunc(hours),Math.trunc(rem_mins),Math.trunc(rem_secs)];
	}

      const refresh_timer_binding = function() {
	if(timerInterval) { clearInterval(timerInterval); }
	
	const timer = $("timer_start_ts");
	if (timer) {

	  let start_ts = new Date($("#timer_start_ts").text());
	  
	  const updateTimer = function(ms) {
	    
	    const [hr,min,sec] = get_hr_min(ms/1000);
	    $("#current_time").text(
	      (hr.toString().padStart(2, '0') + ':' + 
	       min.toString().padStart(2, '0') + ':' + 
	       sec.toString().padStart(2, '0'))	     
	    );
	    
	  }
	  
	  const is_paused = $("#timer_pause_ts").length === 1;
	  
	  if(is_paused) {
	    const pause_ts = new Date($("#timer_pause_ts").text());
	    const ms = pause_ts - start_ts;
	    
	    updateTimer(ms);
	    
	  } else {
	    
	    const int_func = function() {
	      const now_ts = Date.now();
	      const dt = now_ts - start_ts;
	      updateTimer(dt);
	    }
	    
	    int_func();
	    timerInterval = setInterval(int_func, 1000);
	  }
	}
      }

      


      

      const refresh_element = function(id) {
	const element = document.getElementById(id);
	
	const refresh_url = $(element).data("refresh-url") + "/pt";
	
	$.ajax({
	  url: refresh_url,
	  type: 'GET',
	  error: function(jqXHR, textStatus, errorThrown) {
	    console.error(errorThrown);
	    if(jqXHR.status === 403) {
	      window.location.path = "/accounts/login";
	    }
	  },
	  success: function(res) {
	    element.innerHTML = res;

	    if($(element).data("refresh-timer") !== undefined) {
	      refresh_timer_binding();
	    }
	    
	  }
	});
	
      }
            
      const submit_form = function(e) {
	
	
	e.preventDefault();
	const refresh_targets = $(e.currentTarget).data('refresh');
	const delete_target = $(e.currentTarget).data('delete-id');
	
	const url = e.currentTarget.action + "/pt";
	$.ajax({
          url: url,
          type: 'post', data: $(e.currentTarget).serialize(),
	  error: function(jqXHR, textStatus, errorThrown) {
	    console.error(errorThrown);
	    if(jqXHR.status === 403) {
	      window.location.path = "/accounts/login";
	    }
	  },
          success: function(res){
	    // server will return just the updated html, replace it here
	    e.currentTarget.innerHTML = res;

	    if(delete_target !== undefined) { document.getElementById(delete_target).remove(); }
	    if(refresh_targets != undefined) {
	      for(var i = 0; i < refresh_targets.length; i++) {
		refresh_element(refresh_targets[i]);
	      }
	    }
	  },
	  
	});

      }

      $("body").on("submit", "form", submit_form);
      refresh_timer_binding();
      
    })();
  </script>


{% endblock %}
