{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container">


<h2>{{title}}</h2>


<ul>

{% for todo in todo_logs %}
    <li>
      <form action="/update_todo_log/{{todo.instance.unique_id}}" method="post" style="display: inline;">
        {% csrf_token %}
        {{ todo.completion }}
        <span style="font-weight:bold;">{{ todo.description }}</span> - {{ todo.duration }}m %{{ todo.tag }} 
        <span style="display: none;">{{ todo.date }}</span>
        
        <input type="submit" value="Update">
      </form>
      <form action="/delete_todo_log/{{todo.instance.unique_id}}" method="POST" style="display: inline;">
        {% csrf_token %}
        <input type="submit" value="Delete">
      </form>
    </li>
{% endfor %}

</ul>

{% if streak >= 2 %}
<h4>Streak: {{streak}} days !</h4>
{% else %}
<h4>Streak: {{streak}} days</h4>
{% endif %}

<form action="/new_todo_log/" method="post">
  {% csrf_token %}
  {{ form.completion }}
  <label for="id_description">Description: </label> {{ form.description }}
  <label for="id_duration">Duration</label> {{ form.duration }}m
  <label for="id_tag">Tag:</label> %{{ form.tag }}
  <span style="display: none;">{{ form.date }}</span>
  <input type="submit" value="Submit">
  <input id="start-button" type="button" value="Start">
</form>


<h3>
Stats:
</h3>
<div>
    <span style="font-weight:bold;">{{percent_tasks}}% of tasks complete.</span>
</div>
<div>
    <span style="font-weight:bold;">{{percent_time}}% of time complete.</span>
</div>
<div>
  <span style="font-weight:bold;">This day's time:</span> {{completed_time.0}}hr{{completed_time.1}}m
</div>
<div>
    <span style="font-weight:bold;">Last 7 day's time:</span> {{completed_week_time.0}}hr{{completed_week_time.1}}m
</div>
<div>
<span style="font-weight:bold;">Last month's time:</span> {{completed_month_time.0}}hr{{completed_month_time.1}}m
</div>
<div>
    <span style="font-weight:bold;">Total time:</span> {{total_time.0}}hr{{total_time.1}}m
</div>


  {% for tagset in tags %}
  <h3>
    {{tagset.0}}:
  </h3>
      <ul>
        {% for tag in tagset.1 %}
            <li>{{tag.1}} {{tag.0}}(s), {{tag.2.0}}hr{{tag.2.1}}m </li>
        {% endfor %}
      </ul>
  {% endfor %}

</div>

  <script type="text/javascript">
    
    (function() {
	var globalTimer;

	var time = function(x) {
	    const mins = Math.round(x/60);
	    
	    let seconds = Math.round(x%60);

	    return (mins + (seconds/100)).toFixed(2);
	    
	}
	
	var intFunc;
	const ref = $("input[type=number]").last();
	console.log("ref", ref);
	
	var bindToStart = function() {

	    $("#start-button").unbind("click", bindToStart);
	    $("#start-button").on("click", bindToStop);
	    
	    $("#start-button").val("Stop");
	    
	    globalTimer = Date.now();
	    const curTimer = Date.now();
	    const t = (curTimer - globalTimer)/1000;
	    ref.val(time(t));


	    intFunc = setInterval(function() {
		const curTimer = Date.now();
		const t = (curTimer - globalTimer)/1000;
		ref.val(time(t));
	    }, 500);
	}

	var bindToStop = function() {
	    
	    clearInterval(intFunc);
	    intFunc = null;
	    $("#start-button").unbind("click", bindToStop);
	    $("#start-button").on("click", bindToStart);
	    $("#start-button").val("Start");
	    
	}
	$("#start-button").on("click", bindToStart);

    })();
  </script>
  
{% endblock %}
