{% if active_timer is not None %}
<div class="row" style="margin-bottom: 20px; margin-top: 20px;"
     id="inner-timer">
  <div class="col-md-5 col-xs-7">
    <h4 style="margin-bottom: 0px; margin-top: 3px;">
      Current Timer - {{active_timer.linked_todo_log.description}}
      - <span id="current_time"></span>
    </h4>
  </div>
  
  <div id="timer_start_ts" style="display: none;">{{active_timer.started|date:"c"}}Z</div>

  {% if active_timer.paused is not None %}
  <div id="timer_pause_ts" style="display: none;">{{active_timer.paused|date:"c"}}Z</div>

  <div class="col-md-1">
    <form action="/resume_timer/{{active_timer.linked_todo_log.unique_id}}" data-refresh='["timer"]'>
      {% csrf_token %}
      <input type="submit" value="Resume">
    </form>
  </div>
  
  {% else %}

  <div class="col-md-1 col-xs-2">
    <form action="/pause_timer/{{active_timer.linked_todo_log.unique_id}}" data-refresh='["timer"]'>
      {% csrf_token %}
      <input type="submit" value="Pause">
    </form>
  </div>

  {% endif %}
  <div class="col-md-1 col-xs-2">
    <form action="/stop_timer/{{active_timer.linked_todo_log.unique_id}}" data-delete-id="inner-timer"
	  data-refresh='["todo-logs", "stats"]'>
      {% csrf_token %}
      <input type="submit" value="Stop">
    </form>
  </div>
  
</div>

{% endif %}
