<div class="col-md-9 col-xs-12">
  <form action="/update_todo_log/{{todo.instance.unique_id}}"
	method="POST" id="form-{{todo.instance.unique_id}}"
	data-refresh='["stats"]'>
    {% include "todo_log_form.html" %}  
  </form>
</div>


<div class="col-md-1 col-xs-6 xs-offset-1">
  <form action="/delete_todo_log/{{todo.instance.unique_id}}"
	method="POST"
	data-refresh='["stats"]' data-delete-id="todo-{{todo.instance.unique_id}}-row">
    <div class="row">
      {% csrf_token %}
      <div class="col-xs-8 col-md-0"></div>
      <div class="col-md-12 col-xs-4">
	<input type="submit" style="width: 100%;" value="Delete">
      </div>
    </div>
  </form>
</div>

{% if active_timer is None %}
<div class="col-md-2 col-xs-5">
  <form action="/start_timer/{{todo.instance.unique_id}}" method="POST"
	data-refresh='["timer", "todo-logs"]'>
    {% csrf_token %}
    <div class="row">
      <div class="col-md-9 col-xs-12">
	<input type="submit" value="Start Timer" style="width:100%;">
      </div>
    </div>
  </form>
</div>
{% endif %}
