<div class="row">

  {% csrf_token %}
  
  <div class="col-md-1 col-xs-1">
    {{todo.completion}}
  </div>
  
  <div class="col-md-4 col-xs-6" style="font-weight:bold;">
    {% if todo.instance.completion %}
    <input type="text" name="description" value="{{todo.instance.description}}"
	   maxlength="1024" required="" id="id_description" style="width: 100%; text-decoration: line-through;">
    {% else %}
    <input type="text" name="description" value="{{todo.instance.description}}"
	   maxlength="1024" required="" id="id_description" style="width: 100%;">
    {% endif %}
  </div>
  
  <div class="col-md-2 col-xs-5">
    
    {% if todo.instance.completion %}
    <input class="duration-custom-width" type="number"
	   name="duration" value="{{todo.instance.duration}}"
	   required="" id="id_duration" style="text-decoration: line-through;">
    {% else %}
    <input class="duration-custom-width" type="number"
	   name="duration" value="{{todo.instance.duration}}"
	   required="" id="id_duration">
    {% endif %}
  </div>
  

  <div class="col-md-3 col-xs-6 xs-offset-1">
    {% if todo.instance.completion %}
    <input type="text" class="tag-custom-width" name="tag"
	   value="{{todo.instance.tag}}" maxlength="128" id="id_tag"
	   style="text-decoration: line-through;">
    {% else %}
    <input type="text" class="tag-custom-width" name="tag"
	   value="{{todo.instance.tag}}" maxlength="128" id="id_tag">
    {% endif %}
  </div>
  
  <span style="display: none;">{{todo.date}}</span>
  
  <div class="col-md-2 col-xs-5">
    <input type="submit" value="Update" style="width: 100%;" class="submit-btn-custom-width">
  </div>
  
</div>
