{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <h2>Login</h2>
  <form method="post" class="from-group">
    {% csrf_token %}
    {{form|crispy}}
    <p>Don't have an account? Create one <a href="/register">here</a></p>
    <button type="submit" class="btn btn-success">Login</button>	
  </form>
  <script type="text/javascript">
    (function() {
	var div = document.getElementById("div_id_timezone_name");
	var el = document.getElementById("timezone-input");
	
	if(el) {
	    el.value = Intl.DateTimeFormat().resolvedOptions().timeZone; 
	    div.hidden = true;
	}
	
    })();
  </script>
</div>
{% endblock %}
